body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 25rem;
    background-image: url("https://wallpaperaccess.com/full/4665589.jpg");
    background-position: center;
}


header h1 {
    margin: 0;
    padding-top: 3rem;
}

header form {
    display: inline-block;
    margin-top: 20px;
}

header input[type="text"] {
    width: 300px;
    padding: 12px 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

header button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

#searchInput {
    height: 2.1rem;
}

#model-selection {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

#model-selection form {
    display: inline-block;
    margin-top: 20px;
}

#model-selection select {
    width: 150px;
    padding: 12px 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#model-selection input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

#available-cars {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

#car-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}

.car-container {
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 3px #ccc;
  overflow: hidden;
  display:  flex;
  }

.car-container img {
  max-width: 60%;
  min-height: 320px;
}

.car-details {
  padding: 10px;
}

.car-model {
  font-weight: bold;
}

.car-availability, .car-year, .car-price, .car-fuel-type, .car-transmission {
  font-style: italic;
}

.red {
    background-color: red !important;
    cursor: not-allowed;
    pointer-events: none;
}

#car-image {

}